.accordion {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}

.accordionHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
  cursor: pointer;
  padding: 1rem;
}

.accordionContent {
  max-height: 0;
  overflow-y: auto;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0 1rem;
}

.accordionContent.active {
  max-height: none;
  padding: 1rem 1rem;
}

@media (max-width: 672px) {
  .accordionContent.active {
    padding: 1rem 0rem;
  }
}
