.buttonsNav {
  display: flex;
  justify-content: space-evenly;
  margin: 2.4rem;
}

@media (max-width: 672px) {
  .buttonsNav {
    margin: 1rem 0;
    margin-top: 2.4rem;
    justify-content: space-between;
  }

  .buttonsNav > :only-child {
    margin: 0 auto;
  }
}
