.card {
  margin-bottom: 1.2rem;
  cursor: pointer;
  background-color: #eee;
  border: 0.1rem solid #000;
  border-radius: 2px;
  transition: all 0.4s;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 0 0.4rem var(--main-color-tint-1);
}

.cardImage img {
  max-width: 58rem;
  max-height: 58rem;
}

.themeDark {
  background-color: #333;
  color: #bbb;
  border-color: #bbb;
}

.themeDark p {
  color: #bbb;
}

@media (max-width: 116em) {
  .cardImage img {
    max-width: 50rem;
    max-height: 50rem;
  }
}

@media (max-width: 102em) {
  .cardImage img {
    max-width: 40rem;
    max-height: 40rem;
  }
}

@media (max-width: 82em) {
  .cardImage img {
    max-width: 30rem;
    max-height: 30rem;
  }
}

@media (max-width: 70em) {
  .cardImage img {
    max-width: 40rem;
  }
}

@media (max-width: 55em) {
  .cardImage {
    max-width: 30rem;
  }
}

@media (max-width: 42em) {
  .card {
    margin: 1.2rem 0.2rem;
  }
  .cardImage {
    max-width: 100%;
  }

  .cardImage img {
    max-width: 100%;
  }
}
