.card {
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 0 0.4rem var(--main-color-tint-1);
}

.themeDark {
  color: #bbb;
  border-color: #bbb;
}

.themeDark p,
.themeDark span {
  color: #bbb;
}

.postLink:link,
.postLink:visited,
.postLink:hover,
.postLink:active {
  color: #bbb;
  text-decoration: none;
  position: relative;
  padding: 0;
}

.profileImage {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  left: 0.6rem;
  top: 0.6rem;
  font-size: 1.2rem;
}
