.card {
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  color: #000;
}

.postLink:link,
.postLink:visited,
.postLink:hover,
.postLink:active {
  text-decoration: none;
  margin-bottom: 1.2rem;
  color: #000;
}

.cardHeaderContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.profileImage {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.themeDark div {
  color: #bbb;
}
