.footer {
  text-align: center;
  position: fixed;
  padding: 0.6rem;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 1.4rem;
  width: 100%;
  color: var(--main-color);
  background-color: #fafafa;
  text-decoration: none;
}

.footer a,
.footer a:hover,
.footer a:active,
.footer a:focus,
.footer a:visited {
  text-decoration: none;
  color: var(--main-color);
}

.themeDark {
  background: #191919;
}
