.primary {
  padding: 1.2rem;
  font-size: 3.6rem;
  font-weight: bold;
}

.secondary {
  padding: 0.8rem;
  font-size: 2.4rem;
  font-weight: bold;
  word-break: break-all;
}

.paragraph {
  font-size: 2rem;
  margin: 0.6rem 0;
  word-break: break-all;
}

.dateStamp {
  font-style: italic;
  font-size: 1.6rem;
}

.label {
  font-size: 1.8rem;
  margin: 0.6rem 0;
}

.accordion {
  padding: 0.8rem;
  font-size: 2.4rem;
}

.span {
  font-size: 1.2rem;
}

@media (max-width: 672px) {
  .primary {
    font-size: 2.4rem;
  }
  .secondary {
    font-size: 1.8rem;
  }
  .paragraph {
    font-size: 1.6rem;
  }
  .dateStamp {
    font-size: 1.2rem;
  }
  .label {
    font-size: 1.6rem;
  }
  .accordion {
    font-size: 1.8rem;
  }
}
