.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar {
  display: flex;
  font-size: 1.2rem;
  padding: 1rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color-default);
}

.navbarItems {
  display: flex;
  gap: 1.2rem;
}
.profileImage {
  align-items: center;
  display: flex;
  gap: 1.2rem;
}

.profileImage span {
  font-size: 1.8rem;
  color: #fff;
}

.mainPage {
  padding-top: 60px;
}

.themeDark span {
  color: #bbb;
}

@media (max-width: 992px) {
  li,
  .link-wrapper {
    display: block;
    text-align: center;
  }

  .nav-link {
    width: 100%;
  }

  .profileImage {
    right: 6rem;
    top: 0.8rem;
  }

  .profileImage span {
    display: none;
  }
}
