.cardImage {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.cardImage img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}

.postImage {
  margin: 2.4rem;
}

.postImage img {
  border-radius: 2px;
  max-width: 100%;
  max-height: 90rem;
}

.previewImage {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewImage img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}

.profileImage img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 900rem;
}

.customSize img {
  width: var(--img-width-lg);
  height: var(--img-height-lg);
}

@media (max-width: 672px) {
  .postImage {
    margin: 1rem;
  }

  .profileImage img {
    width: 150px;
    height: 150px;
  }

  .customSize img {
    width: var(--img-width);
    height: var(--img-height);
  }
}
