input {
  max-width: 42rem;
  width: 100%;
  border: 0;
  font-size: 1.8rem;
  border-radius: 2px;
  padding: 0.6rem;
  padding-right: 3rem;
}

input[type='file'] {
  font-size: 1.6rem;
  color: #000;
}

input::file-selector-button {
  box-sizing: border-box;
  transition: all 0.2s;
  border-radius: 90rem;
  background: var(--main-parimary-color);
  line-height: 24px;
  color: #fff;
  outline: 0 solid transparent;
  padding: 8px 18px;
  width: fit-content;
  word-break: break-word;
  font-weight: 700;
  border: 0;
  font-size: 1.4rem;
  cursor: pointer;
  margin: 0 2.4rem;
}

input::file-selector-button:hover {
  background: var(--main-color-shade-1);
}

.themeDark,
.themeDark:focus {
  background: #333;
  color: #bbb;
}

.themeDark[type='file'] {
  background: #222;
  color: #bbb;
}

.container {
  position: relative;
  max-width: 42rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.8rem;
  color: #bbb;
}
