.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  position: relative;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.themeDark .modalContent {
  background: #444;
}

@media (max-width: 672px) {
  .modalContent {
    padding: 1rem;
    margin: 1rem;
  }
}
