.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 2rem;
  border-radius: 4px;
  z-index: 100; /* Ensure this is above the Backdrop's z-index */
  width: 100%;
  max-width: 50rem;
  color: #000;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.noMargin img {
  border-radius: 0;
  padding-top: 2.4rem;
}

.themeDark {
  background: #333;
  color: #bbb;
}

.themeDark .closeButton {
  color: #bbb;
}

@media (max-width: 672px) {
  .modalContent {
    width: calc(100% - 0.6rem);
    max-width: 95%;
    padding: 1.5rem;
  }

  .noMargin {
    padding: 0;
    padding-top: 1.6rem;
  }
}
