.galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 2.4rem;
}

@media (max-width: 1120px) {
  .galleryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 672px) {
  .galleryContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}
