:root {
  --main-parimary-color: #028391;
  --main-color-shade-1: #026974;
  --secondary-color-default: #5d3587;
  --dark-theme-color: #183153;
}

.btn {
  box-sizing: border-box;
  transition: all 0.2s;
  border-radius: 90rem;
  background: var(--main-parimary-color);
  line-height: 24px;
  color: #fff;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  font-weight: 700;
  border: 0;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--main-color-shade-1);
}

.btn:disabled {
  cursor: not-allowed;
  background: #666;
}

.btn:disabled:hover {
  background: #555;
}

.btnPrimary {
  background: #ffbc42;
  color: #000;
  font-weight: 700;
  font-size: 2rem;
}

.btnPrimary:hover {
  background: #cc9635;
}

.btnDelete {
  background: #c0392b;
}

.btnDelete:hover {
  background: #9a2e22;
}

.dark {
  background-color: var(--dark-theme-color);
}
