:root {
  --main-color-tint-5: #81c1c8;
  --main-color-tint-4: #67b5bd;
  --main-color-tint-3: #4ea8b2;
  --main-color-tint-2: #359ca7;
  --main-color-tint-1: #1b8f9c;
  --main-color-default: #028391;
  --main-color-shade-1: #027683;
  --main-color-shade-2: #026974;
  --secondary-color-default: #5d3587;
  --dark-theme-tint-2: #465a75;
  --dark-theme-tint-1: #2f4664;
  --dark-theme-default: #183153;
  --dark-theme-shade-1: #162c4b;
  --dark-theme-shade-2: #132742;

  /* Those resolutions are just refences. It cannot be use as variables */
  --tablet-res: 992px;
  --smartphone-res: 672px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(255, 169, 77, 0.6); /*#ffa94d*/
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: Inter, Helvetica, 'Apple Color Emoji', 'Segoe UI Emoji',
    NotoColorEmoji, 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji',
    EmojiSymbols, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', sans-serif;
  position: relative;
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 8rem;
  text-align: center;
  overflow-x: hidden;
  background-color: #fff;
}
main {
  padding-top: 60px; /* Adjust this accordingly */
}

.error {
  text-align: center;
  margin-bottom: 2.4rem;
}

.error-image {
  max-width: 36rem;
}

.error-title h2 {
  margin: 4.8rem 1.2rem;
  font-size: 2.4rem;
}

.error-message {
  font-size: 1.6rem;
}

.theme-dark body {
  background-color: #222;
  color: #bbb;
}

.theme-dark .navbar a {
  color: #bbb;
}

@media (max-width: 672px) {
  *:focus {
    box-shadow: 0 0 0 0.3rem rgba(255, 169, 77, 0.6);
  }

  body {
    max-width: 100%;
  }

  *:focus {
    box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0);
  }

  /* input:focus {
    box-shadow: 0 0 0 0.4rem rgba(255, 169, 77, 0.6);
  }
  */
}
